
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{

    --color1: hsl(193, 38%, 86%);
    --color2: #7981d7;

    
    --color3: #051d41;
    --color4: #406370;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

html,
body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 0px;
}
body{
    background-color: rgba(13, 12, 14, 0.95);
}
h1{
    color: aliceblue;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--color4);
    max-width: 550px;
    width: fit-content;
    height: fit-content;
    margin: auto 20px;
}

.advice-id{
    color: var(--color2);
    text-transform: uppercase;
    word-spacing: 10px;
}

.advice-text{
    margin: 20px auto 0; 
    font-size: 28px;
    width: 100%;
    color: var(--color1);
}
.divider{
    margin: 20px 0 30px;
    background-size: 100% 100%;
    width: 100%;
}
#dice{
    background-color: var(--color2);
    border-radius: 50%;
    padding: 15px 16px 12px;
    border: 0;
    cursor: pointer;
    margin: 0 auto -50px;
}
#dice img{
    width: 23px;
}
#dice:hover {
    box-shadow: 0 0 40px var(--color2);
 
}
.attribution { 
    font-size: 0.8rem; 
    align-self: flex-end;
    text-align: center;
    background-color: var(--color4);
    padding: 10px;
    color: var(--color1);
} 
.attribution a { 
    color: var(--color2); 
}

@media (min-width: 530px) {
    main{
        margin: auto;
    }
}